@spotify-green: #2ebd59;
@container-width: 60%;

body {
    background-color: black;
}

.music-quiz {
	nav {
		margin: auto;
		width: @container-width;
		> * {
			display: inline-block;
			float: right;
			margin: 15px;
		}
		h1 {
			color: #ffffff;
			float: left;
		}
	}
	.music-quiz-body {
		background-color: @spotify-green;
		position: absolute;
	    top: 80px;
	    bottom: 35px;
	    right: 0px;
	    left: 0px;
	    > div {
	    	width: @container-width;
	    	margin: auto;
	    }
	}
}

.main-page {
	position: relative;
	top: 80px;
	bottom: 35px;
}

.current-question-controller > div {
	display: inline-block;
	width: 30%;
	* {
		width: 50%;
		margin: auto;
	}
}

.question {
	> button {
		float: right;
	}
}

iframe {
	  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

@media screen and (max-width: 1140px) {
	.music-quiz {
		nav {
			width: 100%;
		}
	}
}
